<h1><%=	 @user.name %>'s Articles</h1>

<%	 @articles.each do |article| %>
    <ul>
    <li><span class="title"><%=	 link_to article.title, article_path(article) %></span></li>
    </ul>
<%	 end %>

  <%=	 will_paginate @articles %>
  <br />

<span class="count">Total number of articles: <%=	 @articles.count %></span>

