<div id="footer_content" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
     xmlns="http://www.w3.org/1999/html">
<ul>
  <li><b>Navigation</b></li>
  <li>About</li>
  <li>Contact</li>
</ul>
  
  <ul>
    <li><b>Links</b></li>
    <li><%=	 link_to "List of Article Submission Sites", "http://www.convenientarticlelist.com", :target => "_blank" %></li>
    <li><%=	 link_to "Free Online Calendar", "http://www.convenientcalendar.com", :target => "_blank" %></li>
  </ul>
  </div>
